@font-face {
    font-family: "Guardian Text Egyptian Web";
    font-weight: 400;
    font-style: normal;
    font-stretch: normal
}

@font-face {
    font-family: "Guardian Egyptian Web";
    font-weight: 400;
    font-style: normal;
    font-stretch: normal
}

@font-face {
    font-family: "Guardian Text Sans Web";
    font-weight: 400;
    font-style: normal;
    font-stretch: normal
}
